/* CSS Style */

body {
    background-color: #0b061b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;

}

h1 {
    color: #fafafa;
    font-size: 24px;
    font-weight: bold;
}

.h1-flex {
    margin-left: 300px;

}

p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #ac4cac;
    text-decoration: none;
}

/* Add your styles here */

.active a {
    color: #bb89f5; 
    background-color: #282042;
}

nav {
    background-color: #1b0f42 ;
    border: 2px solid #ac4cac;
}

nav-flex {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8; /* Change this to the color you want for the navigation bar */
}

.nav-flex ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* This will layout the <li> elements in a row */
    justify-content: center; /* This centers the items in the navigation bar */
    align-items: center; /* This vertically centers the items in their container */
}

.nav-flex ul li {
    margin-right: 20px; /* Adjust this to add more or less spacing between the menu items */
}

.nav-flex ul li:last-child {
    margin-right: 0; /* Removes margin from the last item */
}

.nav-flex ul li a {
    color: #ffffff; /* Change the color to improve visibility */
    text-decoration: none; /* Removes underline from links */
    padding: 10px; /* Adds padding for better spacing */
    display: block; /* Makes the entire area clickable */
}

.nav-flex ul li a:hover {
    background-color: #ac4cac; /* Adds a background color on hover for visual feedback */
    color: #ffffff; /* Ensures the text color remains visible on hover */
}


p {
    padding: 2%;
    margin: 2%;
    background-color: #1b0f42;
    border: 2px solid #ac4cac;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.p-flex {
    flex: 1 0 10; /* This will make the paragraph content grow to take up the remaining space */
    margin-left: 10%;
    margin-right: 10%;
}

.custom-bullet{
    list-style-type: none;
    color: aqua;
    font-size: medium;

}
.custom-bullet::before {
    content: "└ ";
    color:aqua;
    font-size: medium;
}

.folder {
    list-style-type: none;
    color: beige;
    font-size: large;
}